.center
{
margin:auto;
max-width: 550px;
}

/* Reset */
* { margin:0px; padding:0px; }
html, body { height:100%; }
p { margin:0.5em; }
ul li { margin-left:3em; }


/* Styling */
body { font-family: Arial, "Sans-Serif", "Sans Serif"; font-size:14px; background-color:black; color:#F5F5F5; }

button{border-radius: 10px; background-color: rgb(13, 72, 90); border-color: rgb(104, 128, 210);}

/*Standard Black Box for any non list content*/
.blackbox {box-shadow: 0px 0px 5px #888; margin-top:2px; padding:10px; border: 1px solid gray; background-color:#000000; border-radius: 3px; color:#F5F5F5;}
.greybox {box-shadow: 0px 0px 5px #888; margin-top:2px; padding:10px; border: 1px solid gray; background-color:#ababab; border-radius: 3px; color: #505050}
.timebox {box-shadow: 0px 0px 5px #888; margin-top:2px; padding:10px; border: 1px solid gray; background-color:#ababab; border-radius: 3px; color: #505050}

/*Header*/
#header {box-shadow: 0px 0px 5px #888; margin-top:10px; background-color:#7d7d7d; color: #C6C6C6}

/*SVG BG*/
#svgBackground {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	z-index: 1
}
.contentBox{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: auto;
	z-index: 2
}

/* Elements */
.tasklist {margin-top:2px; border-radius: 10px;}
.tasklist .task{
	margin-top:2px;
	border-bottom: 1px solid gray;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #888; 
	/*background-color:#ababab;*/
}
/*Task 1*/
.tasklist .task0{
	/*border-bottom: 2px solid gray;*/
	margin-top:2px;
	padding:10px;
	color: #515151;
	background-color:#ababab;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #888; 
	/*border-bottom:2px;*/
}
.tasklist .task0 .title { display:block; font-weight:bold; }
.tasklist .task0 .message { font-size:0.9em; }
/*Task 2*/
.tasklist .task1{
	/*border-bottom: 2px solid gray;*/
	margin-top:2px;
	padding:10px;
	color: #515151;
	background-color:#e1e1e1;
	border-radius: 10px;
	/*border-bottom:2px;*/
}

.tasklist .task1 .title { display:block; font-weight:bold; }
.tasklist .task1 .message { font-size:0.9em; }

.task0 a:link,.task1 a:link {color: #515151; text-decoration: underline; }
.task0 a:active,.task1 a:active {color: #515151; text-decoration: underline; }
.task0 a:visited,.task1 a:visited {color: #515151; text-decoration: underline; }
.task0 a:hover,.task1 a:hover {color: #66FFFF; text-decoration: none; }

/* LINKS */
a:link {color: #FFFFFF; text-decoration: underline; }
a:active {color: #FFFFFF; text-decoration: underline; }
a:visited {color: #FFFFFF; text-decoration: underline; }
a:hover {color: #66FFFF; text-decoration: none; }